#menu{
    width: 250px;
    float: right;
}
#tests{
    margin-right: 300px;
}
p, pre{
    color: white;
    font-family: courier;
    padding: 0.5em;
}
pre{
    color: black;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}
.neutral{
    background-color: gray;
}
.mute{
    color: lightgrey;
    font-size: 0.7em;
}