# Requires PHP5
# AddHandler application/x-httpd-php5 .php

# Add HTTP Authorization to $_SERVER
#<IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#</IfModule>

# Disallow listing of files in directory
# Options -Indexes