/**
Palettes from http://www.colourlovers.com/palette/28518/10X777.com
**/

html{
    background-color: #282626;
}
body{
    background-color: #ffffff;
    display: block;
    font-size: 16px;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.5em;
    margin: 2em auto 2em;
    max-width: 1200px;
    min-width: 600px;
    padding: 2em;
    width: 72%;
}
hr{
    background-color: #D9CECE;
    border: 0;
    color: #D9CECE;
    height: 1px;
    margin: 0 -2em 3em;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
    font-weight: bold;
}
h1{
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0;
}
h2{
    color: #0B486B;
}
code{
    background-color: #EDEDED;
    color: #EE1C25;
    padding: 0 2px 0;
}
code.block{
    background-color: #282626;
    color: #fff;
    display: block;
    margin: 0.5em 0 1em;
    padding: 0.5em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
li{
    margin-bottom: 0.5em;
}

.aside{
    float: right;
    margin-left: 2em;
}
.aside a{
    background-color: #0B486B;
    color: #fff;
    clear: both;
    display: inline-block;
    float: right;
    font-family: 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.25em;
    padding: 0 3px;
    text-decoration: none;
}
.aside a:hover{
    background-color: #EE1C25;
}

/**
ul.features{
    margin: 0;
    padding: 0;
}
ul.features li{
    display: inline;
    list-style: none;
    font-size: 2em;
    background-color: lightpink;
    padding: 0.1em;
    padding-right: 2em;
}*/